{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block content %}


<div class="relative">

    <div id="div_welcome" class="w-full bg-gradient-to-b from-white to-gray-50">
        <div class="min-h-screen sm:min-h-[75vh] min-w-screen justify-center items-center landscape:items-start max-w-screen-xl mx-auto gap-4 sm:flex px-10 py-10">
            
            <div class="mx-auto w-7/12 sm:w-1/2 landscape:mt-[10vh]">
                <div class="mx-auto max-w-72 sm:max-w-[500px] text-center sm:text-left">
                    <h1 class="text-balance font-bold text-3xl sm:text-5xl">
                        Convert any image into <span class="text-secondary font-bold">Pixel Art</span>
                    </h1>
                    <p class="text-balance font-light sm:text-lg pt-8">Upload your image, pick desired output size and download SVG and PNG files.</p>
                    <label class="shadow-xl mt-10 btn btn-lg btn-wide btn-primary transition ease-in-out hover:scale-[0.95]">
                        <span>Upload image</span>
                        <input id="input_file_welcome" type="file" accept=".bmp,.gif,.jpeg,.jpg,.png,.webp" class="hidden" title=" " />
                    </label>
                    <p class="font-light pt-2 pl-1 text-sm max-w-72">100% free, no signup required, <br><a class="underline" href="{{url_for('faq')}}">we don't store or share any of your images</a></p>
                </div>
                
            </div>

            <div class="mx-auto sm:w-1/2 mt-10 sm:mt-0 relative">
                <div class="img_example opacity-100 transition-opacity duration-500 absolute top-0 left-0 grid sm:grid-cols-2 gap-2">
                    <div class="flex sm:flex-col gap-2 items-end justify-center">                        
                        <img class="w-1/2 sm:w-3/4 rounded-box" src="{{url_for('static',filename='images/svg/vermeer-girl-with-pearl-earring_25x31_pixelatedartwork_com.svg')}}" alt="girl with pearl earring (Vermeer)">
                        <img class="w-1/2 sm:w-full rounded-box" src="{{url_for('static',filename='images/svg/hokusai_tsunami_60x40_pixelatedartwork_com.svg')}}" alt="Tsunami (Hokusai)">
                    </div>
                    <div class="flex sm:flex-col gap-2 items-start justify-center">
                        <img class="w-1/2 sm:w-5/6 rounded-box" src="{{url_for('static',filename='images/svg/tardelli_cheer_40 x 30_pixelatedartwork_com.svg')}}" alt="Tardelli world cup 1982">
                        <img class="w-1/2 sm:w-2/3 rounded-box" src="{{url_for('static',filename='images/svg/taj_mahal_40x40_pixelatedartwork_com.svg')}}" alt="Taj Mahal">
                    </div>
                </div>
                <div class="img_example opacity-0 transition-opacity duration-500 absolute top-0 left-0 relative max-h-[640px] max-w-[640px] h-[80vw] sm:h-[40vw] w-[80vw] sm:w-[40vw]">
                    <img class="absolute inset-0 w-full h-full object-cover rounded-box" src="{{url_for('static',filename='images/webp/chair_taupe_wall.webp')}}" alt="">
                    <img class="absolute shadow-lg max-w-[250px] max-h-[310px] top-[8vh] sm:top-[4vh] left-[10vw] sm:left-[6vw] h-[31vw] sm:h-[18vw] w-[25vw] sm:w-[13vw] object-cover border-4 border-gray-700" src="{{url_for('static',filename='images/svg/vermeer-girl-with-pearl-earring_25x31_pixelatedartwork_com.svg')}}" alt="girl with pearl earring (Vermeer)">
                </div>
            </div>
    
        </div>
    </div>

    <!-- User pixel art output grid: -->
     <div class="w-full bg-neutral-content">

     
    <div id="div_image_grid" class="max-w-screen-xl mx-auto hidden min-h-screen bg-neutral-content px-4 pt-30">
        
        <div class="px-8 max-w-screen-sm pb-4">
            <h2 class="text-2xl font-semibold">Desired output</h2>
            <p class="font-light text-balance">Current output is <span id="span_wxh_desired_explanation" class="font-bold"></span> pixels, you can change this with the controls at the bottom, or upload another file.</p>
        </div>
        <div  id='carousel_desired' class="carousel carousel-center rounded-box space-x-4 px-4 h-[50vh] py-4 bg-white w-full">
            <div class="carousel-item">
                {{ macros.image_grid_card('desired')}}
            </div>
            <div class="carousel-item">
                {{ macros.image_grid_card('uploaded')}}
            </div>
            <div class="carousel-item">
                <div>
                    <div class="relative  h-[calc(50vh_-_120px)] w-[calc(50vh_-_120px)]">
                        <img class="absolute inset-0 rounded-box" src="{{url_for('static',filename='images/webp/chair_taupe_wall.webp')}}" alt="">
                        <img id="img_carousel_example" class="shadow-lg absolute top-[4vh] inset-[4vh] object-cover h-[calc(23vh_-_60px)] border-4 border-gray-700" src="{{url_for('static',filename='images/svg/vermeer-girl-with-pearl-earring_25x31_pixelatedartwork_com.svg')}}" alt="girl with pearl earring (Vermeer)">
                    </div>
                    <div class="h-16 w-[calc(50vh_-_120px)]">
                        <p class="px-2 py-2 font-light text-sm leading-tight">
                            Pixelated artwork in a frame on a wall
                            <br/>
                            (Updated automatically)

                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="px-8 max-w-screen-sm pb-4">
            <div class="divider"></div>
            <h2 class="text-2xl font-semibold">3 more output styles</h2>
            <p class="font-light text-balance">Bricks (LEGO style), circles and grid style</p>
        </div>
        <div id='carousel_styles' class="carousel carousel-center rounded-box space-x-4 px-4 h-[50vh] py-4 bg-white w-full">
            {% for i in ['bricks','circles','squares'] %}
            <div class="carousel-item">
                {{ macros.image_grid_card(i)}}
            </div>
            {% endfor %}
        </div>
        
        <div class="px-8 max-w-screen-sm pb-4">
            <div class="divider"></div>
            <h2 class="text-2xl font-semibold">Other aspect ratios</h2>
            <p class="font-light text-balance max-w-screen-sm">1:1 (square), 4:3, etc. Output generated with the desired pixel detail level (minimum number of pixels per row and column), in this case <span id="span_dl_formats" class="font-bold"></span> pixels.</p>
        </div>
        <div id='carousel_formats' class="carousel carousel-center rounded-box space-x-4 px-4 h-[50vh] py-4 bg-white w-full">
            {% for i in ['1_1','4_3','7_5','16_9'] %}
            <div class="carousel-item">
                {{ macros.image_grid_card(i)}}
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>
    
    
    <!-- User controls after uploaded (hidden at page load): -->
    <div id="bm" class="hidden bottom-6 sticky mx-auto relative grid grid-cols-3 px-2 gap-x-2 w-[440px] place-items-center bg-neutral-content rounded-box shadow-xl z-20">
        <div class="text-base-300 font-semibold text-xs pt-2">FILE</div>
        <div class="text-base-300 font-semibold text-xs pt-2">OUTPUT</div>
        <div class="text-base-300 font-semibold text-xs pt-2">QUICK CONTROLS</div>
        <label id="bm1" class="bg-primary z-50 h-10 my-2 w-full hover:text-base-100 hover:bg-base-content px-2 py-1 rounded-lg flex items-center justify-center cursor-pointer group transition ease-in-out hover:scale-[0.95]">
            <span class="group-hover:hidden truncate text-sm px-1" id="span_filename">placeholder.png</span>
            <span class="hidden group-hover:block">Upload new file</span>
            <input id="input_file_bm" type="file" accept=".bmp,.gif,.jpeg,.jpg,.png,.webp" class="hidden" title=" ">
        </label>
        <div id="bm2" class="peer/bm2 bg-primary z-50 h-10 my-2 w-full hover:text-base-100 hover:bg-base-content px-2 py-1 rounded-lg flex justify-center items-center gap-1 cursor-pointer tooltip tooltip-bottom" data-tip="Adjust the desired output">
            <div class="w-6 h-6">
                <svg class="stroke-current stroke-2" fill="currentColor" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg"><g> <path d="M112,44H48a4,4,0,0,0-4,4v64a4,4,0,0,0,4,4h64a4,4,0,0,0,4-4V48A4,4,0,0,0,112,44Zm-4,64H52V52h56ZM208,44H144a4,4,0,0,0-4,4v64a4,4,0,0,0,4,4h64a4,4,0,0,0,4-4V48A4,4,0,0,0,208,44Zm-4,64H148V52h56Zm-92,32H48a4,4,0,0,0-4,4v64a4.0002,4.0002,0,0,0,4,4h64a4.0002,4.0002,0,0,0,4-4V144A4,4,0,0,0,112,140Zm-4,64H52V148h56Zm100-64H144a4,4,0,0,0-4,4v64a4.0002,4.0002,0,0,0,4,4h64a4.0002,4.0002,0,0,0,4-4V144A4,4,0,0,0,208,140Zm-4,64H148V148h56Z"></path> </g></svg>
            </div>
            <div class="text-lg font-semibold" id="div_wxh_bm">35 x 25</div>
        </div>
        <div id="bm3" class="peer/bm3 z-50 h-10 my-2 w-full flex items-center justify-center gap-2">
            <button id="button_apply_rotate" class="h-10 w-10 pl-1 pr-2 pt-1 pb-2 border rounded-lg bg-gray-100 hover:text-base-100 hover:bg-base-content tooltip tooltip-bottom cursor-pointer flex items-center justify-center " data-tip="Swap width and height">
                <svg class="stroke-current stroke-2 w-6 h-6" fill="currentColor" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg"><g> <path fill-rule="evenodd" clip-rule="evenodd" d="M639.999 209.777h116.019L621.665 75.425 697.09 0l263.111 263.111-260.196 260.196-75.425-75.424 131.439-131.439h-116.02c-176.731 0-320 143.269-320 320H213.332c0-235.642 191.025-426.667 426.667-426.667Zm0 643.556c0-117.82 95.512-213.333 213.333-213.333h853.338c117.82 0 213.33 95.513 213.33 213.333v853.337c0 117.82-95.51 213.33-213.33 213.33H853.332c-117.821 0-213.333-95.51-213.333-213.33V853.333Zm213.333-106.666h853.338c58.91 0 106.66 47.756 106.66 106.666v853.337c0 58.91-47.75 106.66-106.66 106.66H853.332c-58.91 0-106.667-47.75-106.667-106.66V853.333c0-58.91 47.757-106.666 106.667-106.666Z"></path> </g></svg>
            </button>
            <button id="button_apply_copy" class="h-10 w-10 p-1 border rounded-lg bg-gray-100 hover:text-base-100 hover:bg-base-content tooltip tooltip-bottom cursor-pointer flex items-center justify-center" data-tip="Use aspect ratio of the uploaded image">
                <svg class="stroke-current stroke-2 w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g> <rect x="4" y="8" width="12" height="12" rx="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></rect> <path d="M8 6V5C8 4.44772 8.44772 4 9 4H19C19.5523 4 20 4.44772 20 5V15C20 15.5523 19.5523 16 19 16H18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="2 2"></path> </g></svg>
            </button>
        </div>
    
    
        <div id="bmi2" onmouseover="hover_div('bm2')" onmouseleave="unhover_div('bm2')" class="z-40 w-[460px] invisible absolute pb-16 pt-3 -bottom-[10px] peer-hover/bm2:visible hover:visible col-span-3 bg-neutral-content shadow-xl rounded-box cursor-pointer">
            
            <div class="py-4 rounded-box hover:bg-gray-100 px-6 transition ease-in-out hover:scale-[0.95]">
                <p class="text-base font-semibold -ml-1"><span class="bg-base-200 px-2 py-1 rounded-lg mr-2">Option 1</span>Define yourself</p>
                <p class="text-sm pt-1 pl-1">Edit width and/or height and press apply</p>
                <div class="flex pt-2 gap-2 mt-2">
                    <div class="">
                        <input class="input text-center input-primary text-sm font-bold w-16" id="input_w" type="number" value="40" />
                        <p class="text-center py-1 text-xs font-semibold">Width</p>
                    </div>
                    <div class="pt-3">
                        x
                    </div>
                    <div class="">
                        <input class="input input-primary text-center text-sm font-bold w-16" id="input_h" type="number" value="50" />
                        <p class=" py-1 text-xs font-semibold text-center">Height</p>
                    </div>
                    <button class="btn btn-primary min-w-32 btn-disabled ml-4" id="button_apply_wh">
                        Create <span id="span_wxh_wh">40x50</span>
                    </button>
                </div>
            </div>
            <div class="rounded-box hover:bg-gray-100 gap-2 pt-6 pb-2 px-6 transition ease-in-out hover:scale-[0.95]">
                <p class="text-base font-semibold -ml-1"><span class="bg-base-200 px-2 py-1 rounded-lg mr-2">Option 2</span>Aspect ratio & detail level</p>
                <p class="text-sm pl-1 pt-1">
                    For example, wide format 4:3 (so aspect ratio 1.333) and at least 30 pixels per row and column. In this example we get 40x30
                </p>
                <div class="flex items-center pt-4 gap-2">
                    <input class="input input-primary text-xs text-center font-bold w-16" id="input_dl" type="number" value="30" step="1">
                    <div>
                    <p class="font-semibold">Detail level</p>
                    <p class="text-xs">Minimum number of pixels per row and column</p>
                    </div>
                </div>
                <div class="flex items-center pt-2 gap-2">
                    <input class="input input-primary text-xs text-center font-bold w-16" id="input_ar" type="number" value="1.33" step="0.01">
                    <div>
                        <p class="font-semibold">Aspect ratio</p>
                        <p class="text-xs">Width divided by height ratio</p>
                    </div>
                </div>
                <button class="btn btn-primary min-w-32 btn-disabled mt-2 mb-2" id="button_apply_ardl">
                    Create <span id="span_wxh_ardl">40x50</span>
                </button>
            </div>
            <div class="divider px-4"></div>
        </div>
    </div>


</div>

<script>
    function hover_div(divToggle){
        dt = document.getElementById(divToggle);
        dt.classList.add('bg-base-content');
        dt.classList.add('text-base-100');
    }
    function unhover_div(divToggle){
        dt = document.getElementById(divToggle);
        dt.classList.remove('bg-base-content');
        dt.classList.remove('text-base-100');
    }
</script>

{% include "js_index.html" %}
{% endblock content %}