<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@4.22.0/dist/tf.min.js"></script>
<script>

    tf.setBackend('webgl');
    tf.ENV.set('WEBGL_DELETE_TEXTURE_THRESHOLD', 0);


    function findMostFrequentTuple(tuples) {
        const tupleCounts = {};
        tuples.forEach(tuple => {
            const tupleString = tuple.toString();
            tupleCounts[tupleString] = (tupleCounts[tupleString] || 0) + 1;
        });
        let maxCount = 0;
        let mostFrequentTuple = null;
        for (const tupleString in tupleCounts) {
            if (tupleCounts[tupleString] > maxCount) {
            maxCount = tupleCounts[tupleString];
            mostFrequentTupleString = tupleString;
            }
        }
        mostFrequentTuple = mostFrequentTupleString.split(',').map(Number);
        return mostFrequentTuple;
    }


    async function pixelate(ar=ar_current,dl=dl_current,id_out='pixels',method='avg'){
        if (!file_uploaded) {
            return;
        }
        const img = new Image();
        img.src = URL.createObjectURL(file_uploaded);
        await new Promise(resolve => img.onload = resolve);
        // Resize the image using canvas
        // const canvas = document.createElement('canvas');
        // const ctx = canvas.getContext('2d');
        // canvas.width = img.width;
        // canvas.height = img.height;
        // ctx.drawImage(img, 0, 0);

        var MAX_WIDTH = 300;
        var MAX_HEIGHT = 300;
        var width = img.width;
        var height = img.height;

        // Change the resizing logic
        if (width > height) {
            if (width > MAX_WIDTH) {
                height = height * (MAX_WIDTH / width);
                width = MAX_WIDTH;
            }
        } else {
            if (height > MAX_HEIGHT) {
                width = width * (MAX_HEIGHT / height);
                height = MAX_HEIGHT;
            }
        }

        var canvas = document.createElement("canvas");
        canvas.width = width;
        canvas.height = height;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0, width, height);


        tf.tidy(() => {
            let tf_image = tf.browser.fromPixels(canvas, 3);
            // const tf_image = tf.browser.fromPixels(canvas, 4);
            w_uploaded = tf_image.shape[1];
            h_uploaded = tf_image.shape[0];
            ar_uploaded = w_uploaded/h_uploaded;
            ar_uploaded_3 = Math.round(1000*ar_uploaded)/1000
            // If no image has been uploaded yet, use the aspect ratio of the uploaded image
            if(!boolean_uploaded){
                ar = ar_uploaded_3;
                dl = dl_current;
                w_current = (ar>1) ? Math.ceil(dl*ar) : dl ;
                h_current = (ar>1) ? dl : Math.ceil(dl/ar) ;
                updateDefaults(w_current,h_current);
                boolean_uploaded = true;
            }     
            if(ar>1){
                ny = parseInt(dl);
                nx = Math.ceil(dl*ar);
            } else {
                nx = parseInt(dl);
                ny = Math.ceil(dl/ar);
            }
            px_size = Math.floor(Math.min(w_uploaded/nx,h_uploaded/ny));
            // For center cropping:
            pl = Math.floor((w_uploaded-nx*px_size)/2);
            pt = Math.floor((h_uploaded-ny*px_size)/2);
            ml = Number.isInteger((w_uploaded-nx*px_size)/2) ? 0 : 1;
            mt = Number.isInteger((h_uploaded-ny*px_size)/2) ? 0 : 1;
            
            let tf_image_slice = tf_image.slice([pt,pl,0],[ny*px_size,nx*px_size,3]);
            if(method='avg'){
                let tf_image_slice_batch = tf.expandDims(tf_image_slice.toFloat(),0);
                let tf_image_avg = tf.layers.averagePooling2d({poolSize:px_size,strides:px_size,padding:'valid'}).apply(tf_image_slice_batch);
                let tf_image_model = tf_image_avg;
                let tf_image_out = tf_image_model.squeeze().toInt();
                // const img_output_px = tf.browser.toPixels(tf_image_model);
                dict_tf_array[id_out] = tf_image_out.arraySync();

            } else if(method=='mode'){
                let array_mode = tf.zeros([ny,nx,3]).arraySync();
                for (let ih=0;ih<ny;ih++){
                    for (let iw=0;iw<nx;iw++){
                        const tf_mode_slice = tf_image_slice.slice([ih*px_size,iw*px_size,0],[px_size,px_size,3]);
                        const tf_mode_slice_reshaped = tf.reshape(tf_mode_slice,[-1,3]);
                        array_mode[ih][iw] = findMostFrequentTuple(tf_mode_slice_reshaped.arraySync());
                    }
                }

                dict_tf_array[id_out] = array_mode;
            }
        })
    }


    // Convert the array with dict_tf_array[id] to svg string in dict_svg[id]
    function array2svg(id,factor=100,rx=0,p=0){
        return new Promise((resolve,reject) => {
            if (id in dict_tf_array){
                js_array = dict_tf_array[id];
                h=js_array.length;
                w=js_array[0].length;
                render=(rx==0 && p==0)?'crispEdges':'geometricPrecision';
                const svg_viewBox = `<svg class="h-auto w-auto rounded-box" viewBox="0 0 ${w*factor} ${h*factor}" xmlns="http://www.w3.org/2000/svg">`;
                const svg_defs = `<defs><rect id="1x1" width="${factor-(2*p)}" height="${factor-(2*p)}" rx="${rx}" shape-rendering="${render}" /></defs>`
                var svg_loop = ''
                for(var ih=0;ih<h;ih++){
                    var row = js_array[ih];
                    for(var iw=0;iw<w;iw++){
                        svg_loop += `<use x="${p+(iw*factor)}" y="${p+ih*factor}" fill="rgb(${row[iw]})" href="#1x1"/>`
                    }
                }
                const svg_string = svg_viewBox + svg_defs + '<g>' + svg_loop + '</g>' + '</svg>'
                dict_svg[id]=svg_string;
                resolve();
            }
        })
    };


    function svg2png(svg_in,el_img){
        let blob = new Blob([svg_in], {type: 'image/svg+xml'});
        let url = URL.createObjectURL(blob);
        el_img.src = url;
        el_img.addEventListener('load', () => URL.revokeObjectURL(url), {once: true});
    };


    async function updateSVG(){
        button_apply_copy.classList.add('btn-disabled');
        button_apply_rotate.classList.add('btn-disabled');
        // await inference();
        await pixelate();
        await array2svg('pixels');
        button_apply_copy.classList.remove('btn-disabled');
        button_apply_rotate.classList.remove('btn-disabled');
        
        svg2png(dict_svg['pixels'],img_desired);
        img_uploaded.src = URL.createObjectURL(file_uploaded);
        span_wxh_uploaded.innerHTML = `${w_uploaded} x ${h_uploaded}`;

        svg2png(dict_svg['pixels'],img_carousel_example);
    };


    function download_svg(id){
        id_svg = (id=='desired') ? 'pixels' : id;
        var svgData = dict_svg[id_svg];
        svgData = svgData.replace(/\\/g, ''); //Needed for Safari
        var preface = '<?xml version="1.0" standalone="no"?>\r\n';
        var svgBlob = new Blob([preface, svgData], {type:"image/svg+xml;charset=utf-8"});
        var svgUrl = URL.createObjectURL(svgBlob);
        var downloadLink = document.createElement("a");
        downloadLink.href = svgUrl;
        fname = file_uploaded_name.replace(/\.[^.]+$/, '').replace(' ','_');
        wxh = document.getElementById(`span_wxh_${id}`).innerText;

        boolean_add = true;
        boolean_add = boolean_add && (!/^\d/.test(id)); // id starts with number?
        boolean_add = boolean_add && (id!='desired');
        id_title_add = (boolean_add)? '_'+String(id):'';

        fname = fname +'_'+ wxh + id_title_add+'_pixelatedartwork_com';
        downloadLink.download = fname;
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);   
    }


    function download_png(id,min_wh=1000){
        // id='bricks';min_wh=1000;
        id_svg = (id=='desired') ? 'pixels' : id;
        var svgData = dict_svg[id_svg];
        parser = new DOMParser();
        svgDoc = parser.parseFromString(svgData, "image/svg+xml");
        viewBox = svgDoc.documentElement.getAttribute('viewBox').split(' ');
        viewBox_w = parseInt(viewBox[2]);
        viewBox_h = parseInt(viewBox[3]);
        viewBox_ar = viewBox_w/viewBox_h;
        w_out = viewBox_w;
        h_out = viewBox_h;

        const canvas = document.createElement('canvas');
        const ctx = canvas.getContext('2d');
        canvas.width = w_out;
        canvas.height = h_out;

        const img_png = new Image();
        img_png.onload = function(){
            ctx.drawImage(img_png,0,0);
            const a = document.createElement('a');
            wxh = document.getElementById(`span_wxh_${id}`).innerText;
            boolean_add = true;
            boolean_add = boolean_add && (!/^\d/.test(id)); // id starts with number?
            boolean_add = boolean_add && (id!='desired');
            id_title_add = (boolean_add)? '_'+String(id):'';
            fname = file_uploaded_name.replace(/\.[^.]+$/, '').replace(' ','_');
            fname = fname +'_'+ wxh + id_title_add+'_pixelatedartwork_com.png';
            a.download = fname;
            a.href = canvas.toDataURL('image/png');
            
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        };
        img_png.src = 'data:image/svg+xml;base64,' + btoa(svgData);
    }

    // ------ SVG style functions: ------


    function svg_circles(svg,padding=0.02){
        svg_circle = svg;
        parser = new DOMParser();
        svgDoc = parser.parseFromString(svg_circle, "image/svg+xml");
        rectElement = svgDoc.getElementById('1x1');
        rect_w = parseInt(rectElement.getAttribute('width'));
        rect_h = parseInt(rectElement.getAttribute('height'));
        px = Math.ceil(padding*rect_w);
        py = Math.ceil(padding*rect_h);
        w_circle = rect_w-2*px;
        h_circle = rect_h-2*py;
        rx = Math.ceil(w_circle/2);
        // svg_out_outer = svg_circle.match(/<svg[^>]*>/)[0];

        rectElement.setAttribute('width',w_circle);
        rectElement.setAttribute('height',h_circle);
        rectElement.setAttribute('rx',rx);

        const useElements = svgDoc.querySelectorAll('use');
        useElements.forEach(useElement => {
            const x = parseInt(useElement.getAttribute('x'));
            useElement.setAttribute('x', x + px);
            const y = parseInt(useElement.getAttribute('y'));
            useElement.setAttribute('y', y + py);
        });

        svg_circle = svgDoc.querySelector('svg').outerHTML;
        return svg_circle
    }


    function svg_squares(svg,padding=0.1){
        svg_square = svg_circles(svg,padding=padding);
        parser = new DOMParser();
        svgDoc = parser.parseFromString(svg_circle, "image/svg+xml");
        rectElement = svgDoc.getElementById('1x1');
        rectElement.setAttribute('rx',0);
        svg_square = svgDoc.querySelector('svg').outerHTML;
        return svg_square
    }


    function svg_brickify(svg){
        svg_bricks = svg;
        viewBox = svg.match(/viewBox="([\s\S]*?)"/)[1].split(' ');
        viewBox_w = viewBox[2];
        viewBox_h = viewBox[3];
        brick_stud_h = svg.match(/id="1x1"[\s\S]*?height="([\s\S]*?)"/)[1];
        brick_stud_w = svg.match(/id="1x1"[\s\S]*?width="([\s\S]*?)"/)[1];
        svg_bricks_defs = `<defs>
            <filter id="blur" x="0" y="0">
                <feGaussianBlur in="SourceGraphic" stdDeviation="2"/>
            </filter>`;
        svg_bricks_defs += `<mask id="stud_circle">
                <rect x="0" y="0" width="${brick_stud_w}" height="${brick_stud_h}" fill="white"/>
                <circle cx="${0.5*brick_stud_w}" cy="${0.5*brick_stud_h}" r="${0.31*brick_stud_w}" fill="black" shape-rendering="geometricPrecision"/>
            </mask>`;
        svg_bricks_defs += `<pattern id="bricks_pattern" width="${brick_stud_w}" height="${brick_stud_h}" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="${brick_stud_w}" height="${brick_stud_h}"/>
                <circle cx="${0.54*brick_stud_w}" cy="${0.54*brick_stud_h}" r="${0.31*brick_stud_w}" fill="black" stroke-width="1" shape-rendering="geometricPrecision" opacity="0.4" mask="url(#stud_circle)" style="filter:url(#blur);"/>
                <circle cx="${0.5*brick_stud_w}" cy="${0.5*brick_stud_h}" r="${0.31*brick_stud_w}" stroke-width="2" stroke-opacity="0.3" stroke="rgba(240,240,240)" stroke-dasharray="60 200" stroke-dashoffset="-90" shape-rendering="geometricPrecision"/>
            </pattern>`;
        bricks_rect = `<rect id="rect_pattern" x="0" y="0" height="${viewBox_h}" width="${viewBox_w}" fill="url(#bricks_pattern)"/>`;
        // Make sure fill of svg is none
        svg_tag = svg.match(/<svg[\s\S]*?>/)[0];
        if (svg_tag.includes('fill=')){
            svg_tag_new = svg_tag.replace(/fill="[\s\S]*?"/g, 'fill="none"');
        } else {
            svg_tag_new = svg_tag.replace(/>$/g, ' fill="none" >');
        }
        // svg_tag_new
        svg_bricks = svg_bricks.replace(svg_tag,svg_tag_new);
        // Add studs to defs:
        svg_bricks = svg_bricks.replace('<defs>',svg_bricks_defs);
        // Add strokes:
        svg_bricks = svg_bricks.replace(/(<rect id="\d+x\d+")/, '$1 stroke="black" stroke-opacity="0.1"');
        // Add top layers with studs:
        svg_bricks = svg_bricks.replace('</svg>',bricks_rect+'</svg>');
        svg_bricks = svg_bricks.replace('shape-rendering="crispEdges"','shape-rendering="geometricPrecision"')
        return svg_bricks
    };

    function svg_sample(svg=dict_svg['pixels'],sample_w=5,sample_h=5){
        parser = new DOMParser();
        svgDoc = parser.parseFromString(svg, "image/svg+xml");
        viewBox = svgDoc.documentElement.getAttribute('viewBox').split(' ');
        // viewBox_w = viewBox[2];
        // viewBox_h = viewBox[3];
        rectElement = svgDoc.getElementById('1x1');
        rect_w = parseInt(rectElement.getAttribute('width'));
        rect_h = parseInt(rectElement.getAttribute('height'));
        svg_out_defs = svgDoc.querySelector('defs').outerHTML;
        svg_out_defs = svg_out_defs.replace(/ xmlns="[^"]+"/,'');
        // Get all the rects for the sample and edit x and y values:
        svg_uses = svgDoc.querySelectorAll('use');
        setX = new Set();
        setY = new Set();
        svg_uses.forEach(use => {
            const x = use.getAttribute('x');
            setX.add(x);
            const y = use.getAttribute('y');
            setY.add(y);
        });
        const sortedX = Array.from(setX).sort((a,b)=> a-b);
        const sortedY = Array.from(setY).sort((a,b)=> a-b);
        lenX = sortedX.length;
        lenY = sortedY.length;
        h1 = Math.ceil((lenX/2)-(sample_w/2));
        v1 = Math.ceil((lenY/2)-(sample_h/2));
        xs = sortedX.slice(h1,h1+sample_w);
        ys = sortedY.slice(v1,v1+sample_h);
        x1 = xs[0];
        y1 = ys[0];
        x2 = xs[sample_w-1];
        y2 = ys[sample_h-1];
        svg_out_rects = '';
        for(const xi of xs){
            for(const yi of ys){
                rect_ij=svgDoc.querySelector(`use[x="${xi}"][y="${yi}"]`).outerHTML;
                rect_ij=rect_ij.replace(/x="\d+"/,`x="${xi-x1}"`);
                rect_ij=rect_ij.replace(/y="\d+"/,`y="${yi-y1}"`);
                rect_ij=rect_ij.replace(/ xmlns="[^"]+"/,'');
                svg_out_rects+=rect_ij;
            }
        }
        // Glue all strings together:
        
        viewBox_w_new = parseInt(x2)-parseInt(x1)+rect_w;
        viewBox_h_new = parseInt(y2)-parseInt(y1)+rect_h;
        svg_out_outer = svg.match(/<svg[^>]*>/)[0];
        viewBox_outer = `viewBox="0 0 ${viewBox_w_new} ${viewBox_h_new}"`;
        svg_out_outer = svg_out_outer.replace(/viewBox="([^"]+)"/,viewBox_outer);
        svg_out = svg_out_outer + svg_out_defs + '<g>' + svg_out_rects + '</g></svg>';
        svg_out = svg_out.replace('rounded-box','');
        boolean_rect_pattern = !!svgDoc.getElementById('rect_pattern');
        if(boolean_rect_pattern){
            svg_rect_pattern = svgDoc.getElementById('rect_pattern').outerHTML;
            svg_rect_pattern = svg_rect_pattern.replace(/height="\d+"/,`height="${viewBox_h_new}"`);
            svg_rect_pattern = svg_rect_pattern.replace(/width="\d+"/,`width="${viewBox_w_new}"`);
            svg_out = svg_out.replace('</svg>',`${svg_rect_pattern}</svg>`)
        }
        return(svg_out);
    }


</script>