<!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@4.22.0/dist/tf.min.js"></script> -->
<script>
    
    // ------ Site-wide variables: ------

    var file_uploaded,file_uploaded_name
    
    var w_current = 40;
    var w_updated = w_current;
    var w_uploaded = 0;
    var h_current = 30;
    var h_updated = h_current;
    var h_uploaded = 0;

    var dl_current = Math.min(h_current,w_current);
    var dl_updated = dl_current;
    var dl_uploaded = dl_current;
    var ar_current = w_current/h_current;
    var ar_updated = ar_current;
    var ar_uploaded = ar_current;

    var dict_tf_array = {};
    var dict_svg = {};

    var px_size = 0,
        nx = 0,
        ny = 0,
        pct_used = 0,
        ar_input = 1;
    
    var boolean_uploaded = false;

    const array_formats = ['1_1','4_3','7_5','16_9'];
    
    // ------ User controls: ------
    
    input_file_welcome = document.getElementById('input_file_welcome');
    input_file_bm = document.getElementById('input_file_bm');
    input_file_welcome.removeAttribute('title');
    input_file_bm.removeAttribute('title');

    input_w = document.getElementById('input_w');
    input_h = document.getElementById('input_h');
    input_ar = document.getElementById('input_ar');
    input_dl = document.getElementById('input_dl');

    button_apply_wh = document.getElementById('button_apply_wh');
    button_apply_ardl = document.getElementById('button_apply_ardl');
    button_apply_rotate = document.getElementById('button_apply_rotate');
    button_apply_copy = document.getElementById('button_apply_copy');

    div_welcome = document.getElementById('div_welcome');
    div_image_grid = document.getElementById('div_image_grid');
    div_bm = document.getElementById('bm');

    span_filename = document.getElementById('span_filename');
    div_wxh_bm = document.getElementById('div_wxh_bm');
    span_wxh_wh = document.getElementById('span_wxh_wh');
    span_wxh_ardl = document.getElementById('span_wxh_ardl');
    span_dl_formats = document.getElementById('span_dl_formats');

    img_desired = document.getElementById('img_desired');
    span_wxh_desired = document.getElementById('span_wxh_desired');
    img_uploaded = document.getElementById('img_uploaded');
    span_wxh_uploaded = document.getElementById('span_wxh_uploaded');

    span_wxh_desired_explanation = document.getElementById('span_wxh_desired_explanation');
    
    img_circles = document.getElementById('img_circles');
    span_wxh_circles = document.getElementById('span_wxh_circles');
    img_squares = document.getElementById('img_squares');
    span_wxh_squares = document.getElementById('span_wxh_squares');
    img_bricks = document.getElementById('img_bricks');
    span_wxh_bricks = document.getElementById('span_wxh_bricks');

    img_1_1 = document.getElementById('img_1_1');
    span_wxh_1_1 = document.getElementById('span_wxh_1_1');
    img_4_3 = document.getElementById('img_4_3');
    span_wxh_4_3 = document.getElementById('span_wxh_4_3');

    carousel_desired = document.getElementById('carousel_desired');
    carousel_styles = document.getElementById('carousel_styles');
    carousel_formats = document.getElementById('carousel_formats');

    img_carousel_example = document.getElementById('img_carousel_example');

    // ------ Listeners: ------


    input_w.onchange = function(){
        button_apply_wh.classList.remove('btn-disabled');
        span_wxh_wh.innerHTML = `${input_w.value}x${input_h.value}`;
    };
    input_h.onchange = function(){
        button_apply_wh.classList.remove('btn-disabled');
        span_wxh_wh.innerHTML = `${input_w.value}x${input_h.value}`;
    };
    input_ar.onchange = function(){
        button_apply_ardl.classList.remove('btn-disabled');
        w_ardl = (input_ar.value>1) ? Math.ceil(input_ar.value*input_dl.value) : input_dl.value ;
        h_ardl = (input_ar.value>1) ? input_dl.value : Math.ceil(input_dl.value/input_ar.value) ;
        span_wxh_ardl.innerHTML = `${w_ardl}x${h_ardl}`;
    };
    input_dl.onchange = function(){
        button_apply_ardl.classList.remove('btn-disabled');
        w_ardl = (input_ar.value>1) ? Math.ceil(input_ar.value*input_dl.value) : input_dl.value ;
        h_ardl = (input_ar.value>1) ? input_dl.value : Math.ceil(input_dl.value/input_ar.value) ;
        span_wxh_ardl.innerHTML = `${w_ardl}x${h_ardl}`;
    };

    button_apply_wh.onclick = function(){
        w_current = input_w.value;
        h_current = input_h.value;
        updateDefaults(w_current,h_current);
        pressApply();
    };
    button_apply_ardl.onclick = function(){
        [w,h] = span_wxh_ardl.innerHTML.split('x').map(Number);
        w_current = w;
        h_current = h;
        updateDefaults(w_current,h_current);
        pressApply();
    };
    button_apply_rotate.onclick = function(){
        [w,h] = div_wxh_bm.innerHTML.split('x').map(Number);
        w_current = h;
        h_current = w;
        updateDefaults(w_current,h_current);
        pressApply();
    };
    button_apply_copy.onclick = function(){
        w_current = (ar_uploaded>1) ? Math.ceil(dl_current*ar_uploaded) : dl_current ;
        h_current = (ar_uploaded>1) ? dl_current : Math.ceil(dl_current/ar_uploaded) ;
        updateDefaults(w_current,h_current);
        pressApply();
    };

    // ------ Listener functions: ------

    const updateFileUploaded = (fileInput) => {
        file_uploaded = fileInput.files[0];
        file_uploaded_name = file_uploaded['name'];
        
        div_image_grid.classList.remove('hidden');
        div_bm.classList.remove('hidden');
        div_welcome.classList.remove('min-h-screen')
        span_filename.innerHTML=file_uploaded_name;
    };

    input_file_welcome.addEventListener('change', () => {
        updateFileUploaded(input_file_welcome);
        pressApply();
    });

    input_file_bm.addEventListener('change', () => {
        updateFileUploaded(input_file_bm);
        pressApply();
    });


    async function pressApply(){
        await updateSVG();
        await updateSVG_styles();
        await updateSVG_ars();
        updateGrid();
    };

    function updateDefaults(w,h){
        span_wxh_wh.innerHTML = `${w}x${h}`;
        span_wxh_ardl.innerHTML = `${w}x${h}`;
        div_wxh_bm.innerHTML = `${w}x${h}`;
        span_wxh_desired.innerHTML = `${w}x${h}`;
        span_wxh_desired_explanation.innerHTML = `${w}x${h}`;
        input_w.value = w;
        input_h.value = h;
        input_dl.value = Math.min(w,h);
        input_ar.value = Math.round(1000*w/h)/1000;
        button_apply_wh.classList.add('btn-disabled');
        button_apply_ardl.classList.add('btn-disabled');
        ar_current = Math.ceil(1000*w/h)/1000;
        dl_current = Math.min(w,h);
        w_current = w;
        h_current = h;
        span_dl_formats.innerHTML=`${dl_current}`;
    };


    function updateGrid(ar=ar_current){
        el = document.getElementById('div_image_grid');
        carousel_formats.querySelector('.carousel-item:first-child').scrollIntoView();
        carousel_styles.querySelector('.carousel-item:first-child').scrollIntoView();
        carousel_desired.querySelector('.carousel-item:first-child').scrollIntoView();
        top_div = div_image_grid.getBoundingClientRect().top;
        window.scrollTo({top:top_div+window.scrollY-150,behavior:'smooth'});
    };


    async function updateSVG_ars(){

        for(let fi=0;fi<array_formats.length;fi++){
            si = array_formats[fi];
            ari = si.split('_');
            ari_raw = Number(ari[0])/Number(ari[1]);
            // Check if both aspect ratios have same orientation:
            boolean_ars = ((ari_raw-1)*(ar_current-1)<0)? false: true;
            ari_inf = boolean_ars? ari_raw: 1/ari_raw;
            // ari_inf = ((ari_raw-1)*(ar_current-1)<0)? 1/ari_raw: ari_raw;
            // await inference(ari_inf,dl_current,si);
            await pixelate(ari_inf,dl_current,si);
            await array2svg(si);
            svg2png(dict_svg[si],document.getElementById(`img_${si}`));
            [_,_,w,h] = dict_svg[si].match(/viewBox="([\s\S]*?)"/)[1].split(' ');
            // img_4_3 = document.getElementById('img_4_3');
            document.getElementById(`span_wxh_${si}`).innerText = `${String(Number(w)/100)} x ${String(Number(h)/100)}`;

        }
    }

    // Apply method 'mode' instead of 'avg'
    function updateSVG_mode(){
        // TO DO
    }

    function updateSVG_styles(){
        sample_size = [5,5];

        svgCircles = svg_circles(dict_svg['pixels']);
        svg2png(svgCircles,img_circles);
        span_wxh_circles.innerText = `${w_current} x ${h_current}`;
        dict_svg['circles']=svgCircles;
        dict_svg['circles_sample'] = svg_sample(dict_svg['circles'],sample_w=sample_size[0],sample_h=sample_size[1]);
        svg2png(dict_svg['circles_sample'],document.getElementById('img_sample_circles'));

        svgSquares = svg_squares(dict_svg['pixels']);
        svg2png(svgSquares,img_squares);
        span_wxh_squares.innerText = `${w_current} x ${h_current}`;
        dict_svg['squares']=svgSquares;
        dict_svg['squares_sample'] = svg_sample(dict_svg['squares'],sample_w=sample_size[0],sample_h=sample_size[1]);
        svg2png(dict_svg['squares_sample'],document.getElementById('img_sample_squares'));

        svgBricks = svg_brickify(dict_svg['pixels']);
        svg2png(svgBricks,img_bricks);
        span_wxh_bricks.innerText = `${w_current} x ${h_current}`;
        dict_svg['bricks']=svgBricks;
        dict_svg['bricks_sample'] = svg_sample(dict_svg['bricks'],sample_w=sample_size[0],sample_h=sample_size[1]);
        svg2png(dict_svg['bricks_sample'],document.getElementById('img_sample_bricks'));
    }

</script>