{% extends "base.html" %}

{% import "macros.html" as macros with context %}
{% block content %}
<div class="bg-gradient-to-b from-white to-gray-50 pt-10 sm:pt-20 ">
<article class="prose mx-auto px-4 max-w-screen-sm -mb-4">
    <h1 class="font-sans">{{ page.title }}</h1>
    {% if page.subtitle %}
        {% if page.subtitle != '' %}
        <p class="-mt-6 text-2xl text-bold">
            {{ page.subtitle }}
        </p>
        {% endif %}
    {% endif %}

    {{ page.html|emojify|safe }}
</article>
</div>

{% endblock content %}